<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!-- 保存日志天数-->
    <property name="maxHistory" value="3"/>

    <property name="errorMaxHistory" value="30"/>

    <!-- 项目名-->
    <property name="LOG_PROJECT_NAME" value="proxy-compose"/>

    <property name="normal-pattern"
              value="[%d [%t] %5p %c{50}:%L]  %m%n"/>


    <appender name="serviceLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR}/${LOG_PROJECT_NAME}/${LOG_PROJECT_NAME}-service.log</File>
        <encoder>
            <pattern>${normal-pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_PROJECT_NAME}/service/service-%d{yyyy-MM-dd}.zip
            </fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="EventTrace" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>Scene</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="EventTraceRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${LOG_DIR}/${LOG_PROJECT_NAME}/traces/${Scene}/event.log</File>
                <encoder>
                    <!-- recorder采样器不需要记录线程，级别等内容 -->
                    <pattern>[%d] %m%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_DIR}/${LOG_PROJECT_NAME}/traces/${Scene}/event-%d{yyyy-MM-dd}.zip
                    </fileNamePattern>
                    <maxHistory>${maxHistory}</maxHistory>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_DIR}/${LOG_PROJECT_NAME}/${LOG_PROJECT_NAME}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_PROJECT_NAME}/errors/error-%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>${errorMaxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${normal-pattern}</pattern>
        </encoder>
    </appender>


    <!-- trace日志，本身带有了异步特性，所以不需要走日志模块的异步 -->
    <logger name="EventTrace" level="INFO" additivity="false">
        <appender-ref ref="EventTrace"/>
    </logger>


    <!-- 其他普通日志，量小，同步打印到普通文件 -->

    <root level="INFO">
        <appender-ref ref="serviceLog"/>
        <appender-ref ref="ERROR"/>
    </root>

</configuration>